#home {
	margin: 0;
	padding: 5px;
}

.main-header {
	text-align: center;
	font-size: 18px;
	padding: 5px;
	margin: 0;
}

.label-field:first-child {
    border-top: 1px solid #dedede;
}

.label-field {
    border: 1px solid #dedede;
    border-top: none;
	padding: 5px;
}

.label-field label {
	width: 150px;
	display: inline-block;
	vertical-align: top;
}

.label-field .label-textarea {
	width: calc(100% - 200px);
	height: 50px;
}

.label-field .label-input {
	width: 50px;
}

.label-form {
	margin-bottom: 10px;
}

.label-container {
	border: 1px solid black;
	box-sizing: border-box;
	display: inline-block;
	padding: 1mm;
}

.label-preview .label-container .label-section {
	white-space: pre;
}

.label-preview .label-container .label-company {
	display: block;
	float: left;
}

.label-preview .label-container .label-weight {
	display: block;
	float: right;
}
/*
@media not print {
	.label-preview .label-container:first-child {
		display: inline-block;
	}
}*/

@media print {
	.print-hidden-container {
		display: none;
	}
	.label-preview .label-container {
		display: inline-block;
	}
}